@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/Gilroy-Regular.ttf);
}

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Gilroy'; 
}	

body{
	background: whitesmoke;
}

header{
	height: 57px;
	width: 100%;
	background: #3c8bff;
	display:flex;
	justify-content: center;
  color: white;
}

.content_header{
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
}

h1{
  font-size: 25px;
}

header button{
	width: 110px;
	height: 25px;
	font-size: 16px;
	background: white;
	border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

header button:hover{
  background: rgb(238, 237, 237);
}

.container{
  width: 100%;
  display: flex;
}

.side-bar{
	width: 300px;
	height: 100%;
  display: flex;
  flex-wrap: wrap;
  border-right: 1px solid #ececec;
  min-height: calc(100vh - 57px);
}

.container_side-bar{
  width: 100%;
  margin-top: 40px;
}

.side-bar a{
  margin-top: 15px;
	width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
	height: 30px;
	font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  color: #1a1a1a;
}

.side-bar a:hover{
  color: #1a1a1a6c;
}

.main{
  min-height: calc(100vh - 57px);
	background: white;
  width: 100%;
}

.main table{
	width: 1200px;
	margin-top: 50px;
  margin-left: 103px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0px 0px 50px rgb(0 0 0 / 15%);
}

table th{
	height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.425);
}

table td{
  padding: 5px;
  border-radius: 5px;
  min-height: 30px;
  border: 1px solid rgba(0,0,0,.15);
}

.two{
  background: rgb(238, 237, 237);
}