<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Добавить категорию</title>
</head>
<body>
  <header>
    <div class="content_header">
      <h1>Талон</h1>
        <button onclick="location.href = '/logout'">Выход</button>
    </div>
	</header>
  <div class="container">
    <div class="side-bar">
      <ul class="container_side-bar">
        <li><a href="/groups"><span style="color: #3c8bff; margin-left: -15px; position: absolute;">></span>Группы</a></li>
        <li><a href="/category">Категории</a></li>
        <li><a href="/benefits">Льготы</a></li>
        <li><a href="/users">Пользователи</a></li>
        <li><a href="/report">Отчет</a></li>
      </ul>
    </div>
    <div class="main">
      <form class="form_add_student" id="form_add_student_category">
        <h2 style=" 
          margin-bottom: 50px;
        ">
        <span style="color: #3c8bff;">></span> Привязать категорию студенту:
        </h2>
        <input type="hidden" value="{{student}}" name="id_student">
        Выбор категории:
        <select name="id_category">
          {{#each category}}
            <option value="{{this.id_category}}">{{this.name_cat}}</option>
          {{/each}}
        </select>
        Дата начала действия категории у студента:
        <input type="text" name="data_begin">
        Дата окончания действия категории у студента:
        <input type="text" name="data_end">
        <button class="add_btn" type="submit">Добавить</button>
      </form>
    </div>
  </div>
  <script src="../scripts/js/add_data/code_add_student_category.js"></script>
</body>
</html>