<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Изменить группу</title>
</head>
<body>
  <header>
    <div class="content_header">
      <h1>Талон</h1>
        <button onclick="location.href = '/logout'">Выход</button>
    </div>
	</header>
  <div class="container">
    <div class="side-bar">
     <ul class="container_side-bar">
        <li><a href="/students">Все студенты</a></li>
        <li><a href="/groups"><span style="color: #3c8bff; margin-left: -15px; position: absolute;">></span>Группы</a></li>
        <li><a href="/category">Категории</a></li>
        <li><a href="/benefits">Льготы</a></li>
        <li><a href="/users">Пользователи</a></li>
        <li><a href="/report">Отчет</a></li>
      </ul>
    </div>
    <div class="main">
      <form class="form_add_student" id="form_edit_group">
        <h2 style=" 
          margin-bottom: 50px;
        ">
        <span style="color: #3c8bff;">></span> Изменить группу:
        </h2>
        <input type="hidden" value="{{group.id_group}}" name="id_group">
        Номер группы:
        <input type="text" value="{{group.name_group}}" name="name_group">
        Название группы:
        <input type="text" value="{{group.description_group}}" name="description_group">
        <button type="sumbit" class="add_btn">Изменить</button>
      </form>
    </div>
  </div>
  <script src="../scripts/js/edit_data/code_edit_group.js"></script>
</body>
</html>