<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Изменить студента</title>
</head>
<body>
  <header>
    <div class="content_header">
      <h1>Талон</h1>
        <button>Выход</button>
    </div>
	</header>
  <div class="container">
    <div class="side-bar">
      <ul class="container_side-bar">
        <li><a href="/groups">Группы</a></li>
        <li><a href="/category">Категории</a></li>
        <li><a href="/benefits">Льготы</a></li>
        <li><a href="/users"><span style="color: #3c8bff; margin-left: -15px; position: absolute;">></span>Пользователи</a></li>
        <li><a href="/report">Отчет</a></li>
      </ul>
    </div>
    <div class="main">
      <form class="form_add_student" id="form_edit_user">
        <h2 style=" 
          margin-bottom: 50px;
        ">
        <span style="color: #3c8bff;">></span> Изменить пользователя:
        </h2>
        <input type="hidden" value="{{user.id_user}}" name="id_user">
        Имя пользователя:
        <input type="text" name="username" value="{{user.username}}">
        Пароль:
        <input type="text" name="password" placeholder="Новый пароль...">
        Роль:
        <input type="text" name="role" value="{{user.role}}">
        <button class="add_btn">Изменить</button>
      </form>
    </div>
  </div>
  <script src="../scripts/js/edit_data/code_edit_user.js"></script>
</body>
</html>